*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  scrollbar-color:#dacccc #242323; 
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}
::selection {
  background-color: var(--main-blackish);
  color: var(--text-color2);
}
::-moz-selection { /*    For Firefox ;)    */
  background-color: var(--main-blackish);
  color: var(--text-color2);
}  
:root{
  --bg-color: #0c0c0c;
  --text-color1: #fff;
  --text-color2: #dacccc;
  --main-color: #39393d;
  --menu-bar: #242323fb;
  --main-blackish: #242323;
  --big-font: 4rem;
  --p-font: 4rem;
}
html{
  overflow-x: hidden;
}

header{
  border-bottom: 1.4px solid var(--main-color);
  position: fixed;
  backdrop-filter: blur(2.7px);
  background-color: var(--menu-bar);
  width: 100%;
  height: 90px;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 40px 20px 20px 20px;
  margin: -15px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;

}
.logo img{
  width: 70px;
  height: 60px; 
}
.navi-list{
  display: flex;
}
.navi-list li{
  display: inline-block;
  margin: 0 25px;
  font-size: 24px;
  font-weight: 700;
}
.navi-list  li a{
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color2);
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
}
.navi-list  li a:hover{
  color: var(--text-color1);
}
.navi-list  li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-color1);
  transition: width 0.3s ease-in-out;
}
.navi-list  li a:hover::after {
  width: 100%;
}
.deux{
  color: var(--text-color2);
  font-size: 32px;
}
.Uno {
  text-decoration: underline;
  text-underline-offset: 7px;
  color: var(--text-color1);
  font-size: 24px;
}
.Uno ::after{
  display: none;
}
.Uno :hover::after {
  width: 0%;
}

#project-cards{
  background: url(img/white\ bg.png);
  width: 100%;
  height: 640px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}
.projects-text{
  border: 1px solid var(--main-color);
  border-radius: 30px;
  justify-content: center;
  width: 500px;
  padding: 0 -20%;
  color: var(--bg-color);
  backdrop-filter: blur(2px);
  font-size: clamp(30px, 24px, 20px);
  margin: 40px auto 0 auto;
}
.projects-text-ul{
  margin: -10px 0px 0px 0px;
}
.pricing-card-holder{
  display: flex;
  flex-wrap: wrap;   
  justify-content: center; 
  gap: 2px;
}
.card-1{
  margin: 100px 10px 0 10px;
  padding: 0 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 90%;
  border: 1.7px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color2);
  flex: 1 1 240px;
  max-width: 340px;
}
.card-1:hover{
  border: 1.7px solid var(--bg-color);
  transform: translateY(-9px);
  background-color: #2423232d;
  backdrop-filter: blur(2px);
  color: var(--main-color);
}
.card-1 h1{
  padding: 0;
  align-items: center;
  text-align: center;
  margin: 10px 0; 
  background-color: var(--menu-bar);
  color: var(--text-color2);
  border-radius: 30px;
  font-size: 30px;
}
.card-1 img{
  margin-top: 20px;
  margin-bottom: 30px;
  height: 157px;
  width: 320px;
  border-radius: 0px;
}
.footer {
  height: 400px;
  background: var(--main-blackish);
  color: #fff;
  padding: 40px 70px 0px 70px;
  font-family: Arial, sans-serif;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  padding: 0 70px;
  text-align: left;
}
.footer-profile img {
  width: 60px;
  height: 60px;
}
.footer-col{
  padding: 0px;
}
.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
  color: var(--text-color2);
  text-transform: uppercase;
  font-weight: 400;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}
.footer-col ul li {
  margin: 8px 0;
}
.footer-col ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #afa6a6;
}
.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
  color: var(--text-color2);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 870px) {
  #project-cards{
    height: 90%;
  }
  .card-1 h1{
    font-size: 24px;
  }
  .footer-container {
    padding: 0 30px;
  }
}
@media (max-width: 783px) {
  .projects-text{
    font-size: 27px;
    width: 300;
  }
  #project-cards{
    height: 90%;
  }
  .card-1{
    margin: 60px 10px 0 10px;
  }
  .footer {
    height: 390px;
  }
  .footer-container {
    padding: 0 10px;
  }
}
@media (max-width: 700px) {
  .projects-text{
    font-size: 24px;
    width: 100;
  }
  .footer{
    height: 540px;
    padding: 20px 70px 90px 70px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 70px;
  }
  .footer-col ul li {
    margin: 3px 0;
  }
  .footer-col ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
}
@media (max-width: 521px) {
  .navi-list li{
    font-size: 20px;
    margin: 0 10px;
  }
  .navi-list  li a{
    font-size: 20px;
  }
  .projects-text{
    font-size: 24px;
    padding: 0 -30%;
    width: 370px;
  }
  #project-cards{
    height: 1300px;
  }
  .footer{
    height: 490px;
    padding: 40px 20px 40px 20px;
  }.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px, 10px;
  }
  .footer-col h4{
    margin-bottom: 8px;
    font-size: 14px;
  }
  .footer-col ul li {
    margin: 3px 0;
  }
  .footer-col ul li a{
    font-size: 15px;

  }
}
@media (max-width: 390px) {
  header{
    padding: 40px 10px 20px 10px;
  }
  #project-cards{
    height: 1100px;
  }
  .pricing-card-holder{
    padding: 0 10px;
  }
  .projects-text{
    font-size: 20px;
    padding: 0 -30%;
    width: 290px;
  }
  .card-1{
    margin: 70px 30px 0 30px;
    height: 247px;
    width: 100px;
    justify-content: center;
    align-items: center;
  }
  .card-1 h1{
    width: 97%;
  }
  .card-1 img{
    max-width: 100%;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  .footer{
    height: 490px;
    padding: 40px 10px 40px 10px;
  }
  .footer-bottom {
    font-size: 11px;
  }
}
@media (max-width: 310px) {
  .projects-text{
    font-size: 18px;
    padding: 0 -30%;
    width: 270px;
  }
  .footer{
    height: 490px;
    padding: 40px 4px 40px 4px;
  }
  .footer-col h4{
    margin-bottom: 8px;
    font-size: 12px;
  }
  .footer-col ul li a{
    font-size: 13px;

  }
}
